data/__pycache__/read.cpython-37.pyc
__pycache__/GradientDescent.cpython-37.pyc
__pycache__/GradientSearch.cpython-37.pyc
data/__pycache__/__init__.cpython-37.pyc
data/__pycache__/data.cpython-37.pyc
__pycache__/GradientDescent.cpython-37.pyc
report/figures/gd.plot.png
src/__pycache__/GradientDescent.cpython-37.pyc
test/scratchpad.py
test/.ipynb_checkpoints/Untitled-checkpoint.ipynb
src/__pycache__/GradientDescent.cpython-37.pyc
src/__pycache__/GradientSearch.cpython-37.pyc
report/figures
None0000000.png
test/figures
src/__pycache__/GradientDemo.cpython-37.pyc
src/__pycache__/GradientDescent.cpython-37.pyc
src/__pycache__/GradientFit.cpython-37.pyc
src/__pycache__/GradientLab.cpython-37.pyc
src/__pycache__/GradientSearch.cpython-37.pyc
src/__pycache__/GradientDescent.cpython-37.pyc
src/__pycache__/GradientSearch.cpython-37.pyc
src/__pycache__/data.cpython-37.pyc
.Rproj.user
src/__pycache__/GradientDescent.cpython-37.pyc
src/__pycache__/GradientSearch.cpython-37.pyc
report/data/sample.csv
